#set($layout = "temp_layout.vm")
<table class="table table-striped">
  <thead>
    <tr>
      <th>来源种类</th>
      <th>访客数</th>
      <th>环比</th>
      <th>下单人数</th>
      <th>环比</th>
	  <th>下单转化率</th>
	  <th>环比</th>
    </tr>
  </thead>
  <tbody>
	#if($data.recordList && $data.recordList.size()>0)
	#foreach($source in $data.recordList)
    <tr>
      <td realurl="$!{source.referPage}">#formatUrlToName("$!{source.referPage}")</td>
      <td>$!{source.uv}</td>
      <td>#percentNumber("$!{source.uvMom}","#0.0")</td>
      <td>$!{source.orderUv}</td>
      <td>#percentNumber("$!{source.orderUvMom}","#0.0")</td>
	  <td>#percentNumber("$!{source.orderRate}","#0.0")</td>
      <td>#percentNumber("$!{source.orderRateMom}","#0.0")</td>
    </tr>
	#end
	#else
        <tr><td colspan="20">暂无数据</td></tr>
    #end
  </tbody>
</table>

<div  class="pagerBar" style="margin-top:0px;">
    <span id="mapSourcePagerId" data-count="$!{data.recordCount}" data-size="$!{data.pageSize}" data-currentindex="$!{data.currentPage}" >
	</span>
</div>