#set($layout = "temp_layout.vm")
<!--促销指标趋势 -->
<div class="col-xs-12 col-sm-12 placeholder">
	<ul class="nav nav-tabs" id="gdsindex-detaildiv_nav">
        <li class="active"><a href="javascript:void(0);">趋势图</a></li>
        <li ><a href="javascript:void(0);">详细列表</a></li>
    </ul>
	<div>
		<div id="gdsindex-detaildiv_trend">
        	<div class="table_data">
             	<div>
             		<label>指标：</label>
             		<label class="checkbox-inline">
            			<input type="checkbox" value="uvs" ckbType="1" name="gdsIndexTrendCkb" checked>商品访客数（UV）
            		</label>
            		<label class="checkbox-inline">
            			<input type="checkbox" value="pvs"ckbType="1"  name="gdsIndexTrendCkb"> 商品浏览量（PV）
            		</label>
            		<label class="checkbox-inline">
            			<input type="checkbox" value="exitRates" ckbType="2"  name="gdsIndexTrendCkb"> 详情页跳失率
            		</label>
            		<label class="checkbox-inline">
            			<input type="checkbox" value="orderUvRates" ckbType="3" name="gdsIndexTrendCkb"> 下单转化率
            		</label>
            		<label class="checkbox-inline">
            			<input type="checkbox" value="orderCountAvgs" ckbType="4" name="gdsIndexTrendCkb"> 平均下单件数
            		</label>
            		<label class="checkbox-inline">
            			<input type="checkbox" value="payCounts" ckbType="5" name="gdsIndexTrendCkb"> 交易量
            		</label>
            		<label class="checkbox-inline">
            			<input type="checkbox" value="payMoneys" ckbType="6" name="gdsIndexTrendCkb"> 交易额
            		</label>
             	</div>
            </div>
            <div class="row placeholders">
                <div class="col-xs-12 col-sm-12 placeholder">
            		<div class="col-lg-12">
            			 <div id="gdsindex-trend" style="height:250px;"></div>
                    </div>
                </div>
            </div>
		</div>
		<div id="gdsindex-detaildiv_table" style="display:none">
		</div>
		<script>
    		gdsLineChart = eChartInstant.init(document.getElementById('gdsindex-trend'),eChartTheme);
    		renderGdsLineChart(${data});
    	
			$("#gdsindex-detaildiv_nav > li > a").click(function(){
        		$("#gdsindex-detaildiv_nav > li.active").removeClass("active");
        		$(this).parent().addClass("active");
        		$(this).blur();
        		
				if($(this).text() == "趋势图"){
    				$("#gdsindex-detaildiv_trend").show();
            		$("#gdsindex-detaildiv_table").hide();
				}else{
					$("#gdsindex-detaildiv_trend").hide();
            		$("#gdsindex-detaildiv_table").show();
					
    				if( !$.trim($('#gdsindex-detaildiv_table').html()).length ) {
						//加载第一页数据
						queryGdsIndexTable(1);
    				}
				}
        	});
			
			function queryGdsIndexTable(pageNo){
				var params =  getIndexQueryParams();
				params.skuId = $request.getParameter("skuId");
				params.pageNo = pageNo
				params.pageSize = 10;
				
				var queryCallBack = function(data){
            		$("#gdsindex-detaildiv_tablepager").pager({callback:function(pageNo){
            			queryGdsIndexTable(pageNo);
            		}});
            	}
            	
            	ajaxLoadPage(params,preUrl + "getGdsIndexTable", $("#gdsindex-detaildiv_table"),queryCallBack);
			}
		</script>
	</div>
</div>	