#parse("sys/sys_param.vm")
#set($BUSI_TITLE="流量概况")
#set($sessionStaff = $session.getAttribute("analystaffSession"))<!--流量走向 -->

<h2 class="sub-header">
	<span class="small">$BUSI_TITLE</span>
	<i class="glyphicon glyphicon-question-sign" data-trigger="hover" data-toggle="popover" title="" data-content="流量概况主要是对供货商店铺的流量整体情况进行统计和分析，默认显示当天流量数据。页面有快速选择日期的选项，可以选择当天、前一天、最近7天、最近30天进行快速查看" ></i>
</h2>

<div class="row placeholders">
    <div class="col-xs-12 col-sm-12 placeholder">
    	<div class="wb_decode clearfix">
    		<div class="wb_decode_day">
    			<p class="fs_big">7<span class="fs_small">天</span></p>
    			<p>数据解读</p>									
    		</div>
    		<dl class="bor_r">
    			<dt>交易波动解读 </dt>
    			<dd>
    				近7天访客 <b style="color:red;">$!{data.uv}</b>人，
					较上7天增加<b style="color:red;">$!{data.increaseUv}</b> 人.
					访客集中浏览时段为<b style="color:red;">$!{data1.timeSegment}</b>
                                                         （日均<b style="color:red;">$!{data1.dailyUv}</b>人），
				           近30天访客浏览频率为<b style="color:red;">$!{data1.thirdtyDaysTimes}</b>次
				        （占比<b style="color:red;">#percentNumber("$!{data1.thirdtyDaysTimesPercent}","#0.0")</b>）
    			</dd>
    		</dl>
    		<dl>
    			<dt>访客特性解读</dt>
    			<dd>
                                                            近7天访客集中于：<b style="color:red;">$!{data.provinceName}</b>
					（日均 <b style="color:red;">$!{data.dateAvgUv}</b> 人），
                    <b style="color:red;">新访客</b>（占比<b style="color:red;">#percentNumber("$!{data.newUvScale}","#0.0")</b>），
                    <b style="color:red;">PC端</b>（占比<b style="color:red;">#percentNumber("$!{data.pcUvScale}","#0.0")</b>）
                                                          访客主要来源<b style="color:red;" realurl="$!{data.sourcePageName}">#formatUrlToName("$!{data.sourcePageName}")</b>，
                                                           访客主要去向<b style="color:red;" realurl="$!{data.destPageName}">#formatUrlToName("$!{data.destPageName}")</b>.
    			</dd>
    		</dl>
    	</div>
    </div>
</div>
	
<div class="panel panel-default">
    #parse("busi/common/paramsbar.vm")
	<div class="panel-body">
		
		<div id="flowOverviewDiv">
		
		</div>
		
		<div id="flowTrendDiv">
			
        </div>
		
		<div id="flowMapDiv">
			
        </div>
		
		<!--店铺-->
		#if(${sessionStaff.shopId} != 0)
            <h4 class="text-left">
            	<i class="glyphicon glyphicon-equalizer"></i>
             	<b>流量走向</b>
            	<span class="pull-right btn btn-default btn-sm" onclick="window.location.href='$!{CONTEXT_PATH}/flowAnaly/flowmap'">
            	  更多
                </span>
            </h4>
    		<div id="flowDirectionDiv">
            </div>
		#end
    </div>
	<div class="panel-body">
	    <h4 class="text-left sub-header">
			<i class="glyphicon glyphicon-equalizer"></i>
		 	<b>最近30天浏览频次分布</b>
		 	<span id="exportFlowRateDataBtn" class="pull-right btn btn-default btn-sm">
			导出
		    </span>
		</h4>
		<div class="table-responsive" id="flowRateTableId">
        </div>
    </div>
</div>
<script>
    var g_target = "${target_HOME_PAGE}";
</script>
<script src="$CONTEXT_PATH/js/echarts/echarts.js" type="text/javascript" ></script>
<script src="$BUSIJS_PATH/flowanaly/flowline.js?ver=$!{JS_VERSION}" type="text/javascript" ></script>
<script src="$BUSIJS_PATH/flowanaly/flowbasic.js?ver=$!{JS_VERSION}" type="text/javascript" ></script>