#set($layout = "temp_layout.vm")
<div class="sub-header">
    <p><label>支付转化率低商品：</label>最近7天<span style="color:red">(#dateFormat($!{now7DayFrom},"yyyy.MM.dd")~#dateFormat($!{now7DayTo},"yyyy.MM.dd"))</span>支付转化率（支付买家数/商品访客数）较上一个周期下跌的商品；</p>
	#if($data.recordList && $data.recordList.size()>0)
	<p><label>建议：</label>优化商品标题和描述，通过促销优惠，提升支付转化率。</p>
	#end
</div>

<table class="table table-striped">
  <thead>
    <tr>
	  <th>商品名称</th>
      <th>商品状态</th>
      <th>上一周期访客数</th>
	  <th>上一周期支付转化率</th>
	  <th>本周期访客数</th>
	  <th>本周期支付转化率</th>
    </tr>
  </thead>
  <tbody>
    #if($data.recordList && $data.recordList.size()>0)
    #foreach($row in $data.recordList)
    <tr>
      <td>
      	<dl class="table_img">
      		<dt><img class="imgBgSmall" width="50" height="50" src='#getGdsImgUrl("$!{row.picId}_50x50!.jpg")'></dt>
      		<dd style="width:220px; white-space:nowrap;text-overflow:ellipsis;overflow:hidden;" title="$!{row.gdsName} $!{row.skuProp}">$!{row.gdsName} $!{row.skuProp}&nbsp;</dd>
      		<dd>价格：#moneyNumber("$!{row.price}","#0.00")&nbsp;&nbsp;库存：$!{row.stock}&nbsp;</dd>
      		<dd>发布时间：#dateFormat($!{row.shelvesTime},"yyyy-MM-dd HH:mm:ss")</dd>
      	</dl>
	  </td>
	  <td>$!{row.state}</td>
	  <td>$!{row.lastUv}</td>
      <td>#percentNumber("$!{row.lastPayUvRate}","#0.0")</td>
	  <td>$!{row.currUv}</td>
	  <td>#percentNumber("$!{row.currPayUvRate}","#0.0")</td>
    </tr>
    #end
    #else
        <tr><td colspan="20">暂无数据</td></tr>
    #end
  </tbody>
</table>
<div  class="pagerBar" style="margin-top:0px;">
    <span id="goodsAbnormalPagerId" data-count="$!{data.recordCount}" data-size="$!{data.pageSize}" data-currentindex="$!{data.currentPage}" >
	</span>
</div>