#set($layout = "temp_layout.vm")
#set($targetClass=['col_bg_warning','col_bg_danger','col_bg_primary','col_bg_success'])
<div class="row placeholder">
	<div class="col-md-4 ">
		<h5 class="sub-header">流量来源</h5>
		<div class="table-responsive" id="direction_srctb">
			#parse("busi/flowanaly/basic/direction_srctb.vm")
		</div>
	</div>
    <div class="col-md-4">
    	<h5 class="sub-header">店内分布</h5>
		<table>
			#if($data && $data.size()>0)
				<tr>
				#foreach($row in $data)
					#set($classIndex=$velocityCount%4)
					<td align="center">
				        <div class="#if("${target}" == "${row.pageName}") circle_mid #else circle_sm #end${targetClass[$classIndex]}" onclick="getFlowDirectionDate('$!{row.pageName}')">
        			    <p>$!{row.pageShowName}</p>
        			    <p>访客数：<span>$!{row.pv}</span></p>
        		    </div>
				    </td>
    				#if($velocityCount%2 == 0)
                    </tr>
        			<tr>
    				#end
				#end
				</tr>
			#end
        </table>
    </div>
    <div class="col-md-4">
		<h5 class="sub-header">流量去向</h5>
    	<div class="table-responsive" id="direction_desttb">
			#parse("busi/flowanaly/basic/direction_desttb.vm")
		</div>
	</div>
</div>
<script>
    if (window.PIE) {
        $('.circle_mid,.circle_sm').each(function() {
            PIE.attach(this);
        });
     }
</script>