#set($layout = "temp_layout.vm")
<table class="table table-striped">
  <thead>
    <tr>
      <th>排名</th>
      <th>搜索关键词</th>
      <th>检索量</th>
      <th>搜索进入访客量</th>
      <th>搜索转化率</th>
	  <th>交易金额</th>
    </tr>
  </thead>
  <tbody>
	#if($data.recordList && $data.recordList.size()>0)
	#foreach($row in $data.recordList)
	#set($rankIndex = $velocityCount + $data.pageSize * ($data.currentPage - 1))
    <tr>
	  <td><span class="label label-warning">$rankIndex</span></td>
      <td>$!{row.keywords}</td>
      <td>$!{row.pv}</td>
      <td>$!{row.uv}</td>
      <td>#percentNumber("$!{row.orderUvRate}","#0.0")</td>
	  <td>#moneyNumber("$!{row.tradeMoney}","#0.00")</td>
    </tr>
	#end
	#else
        <tr><td colspan="20">暂无数据</td></tr>
    #end
  </tbody>
</table>
#if($showPage == true)
<div  class="pagerBar" style="margin-top:0px;">
    <span id="shopPagerId" data-count="$!{data.recordCount}" data-size="$!{data.pageSize}" data-currentindex="$!{data.currentPage}" >
	</span>
</div>
#end