#set($layout = "temp_layout.vm")
#parse("sys/sys_param.vm")
<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>$!{BUSI_TITLE}</title>
		#parse("sys/sys_header.vm")
		#<script>window.location.href = "${aiTool.getSysConf('pmphLoginPage')}";</script>
	</head>
	<body>
    </body>
</html>   